

div {
	margin:0;padding:0;
}

div#header, div#footer {
	height:45px;margin:0;padding:5px;font-weight:bold;
}



div#header{font-weight:bold;}
div#header a, div#footer a {
	color:black;
}

div#footer a:hover {
	text-decoration:none;
	color:gray;
}
div#header a:hover {
	text-decoration:none;
	color:gray;
}
div.ip {float:left;margin:1px 1px 0 0;}
div#box {float:left;width:100%;margin-bottom:5px;padding:0 0 1px 1px;}
div.ip:hover {
	opacity:;
	border:2px solid white;
}

a.ip-link {display:block;width:100%;height:100%;text-decoration:none;text-align:center;}
a.ip-link:hover {color: /*white*/ !important;}